* {
  margin: 0;
  margin-bottom: 0 !important;
  padding: 0;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url("../imagens/fundoEscola.jpg");
  background-repeat: repeat;
  background-size: 50%;
}

footer {
  margin-top: auto !important;
  .logo {
    margin: auto;
    max-height: 100px;
    max-width: 100px;
  }
}

.footer {
  margin-bottom: 0% !important;
  background-color: yellow;
}
