.erro404 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  box-sizing: border-box;

  .btn-secondary {
    margin-top: 10px;
  }

  .imgErro {
    align-self: flex-end;
    max-width: 50%;
    max-height: 60vh;
    height: auto;
    object-fit: contain;
    margin-right: 40px;
  }

  /* Responsividade */
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    width: 95%;

    .imgErro {
      align-self: center;
      margin-right: 0;
      max-width: 80%;
    }

    .card-amarelo {
      margin-top: 20px;
      width: 90% !important;
      padding: 20px;
    }
  }

  .btn-verde {
    margin-top: 1rem;
  }
}
